@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&family=Yrsa&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Yrsa', serif;
  font-size: calc(0.625 * 16px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: 'Overpass', sans-serif;
}

.pointer {
  cursor: pointer;
}
