@import '../../../styles/abstract/mixins';

.TaskItem {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-bottom: 0.25rem dotted #ececec;

  .task-name {
    width: 100vw;
    height: 3rem;
    align-self: center;
    margin-top: 1rem;

    @include respond(md) {
      width: 100%;
    }
  }

  .item-btn {
    margin-right: 0.5rem;
  }
}
