@import '../../styles/abstract/mixins';

.form {
  width: 100vw;
  height: 4rem;
  display: flex;
  margin-bottom: 3rem;

  @include respond(md) {
    width: 76rem;
    justify-content: center;
  }
}

.input {
  width: 85vw;
  height: 4rem;
  flex: 1 0;
  border: 0;
  padding: 0.5rem;
  outline: none;
  background: #e6e6e6;

  @include respond(md) {
    height: 5rem;
    padding: 1rem;
  }
}

.btn {
  background: #f7a902;
  border: none;
  width: 4rem;
  height: 4rem;
  outline: none;

  @include respond(md) {
    width: 5rem;
    height: 5rem;
  }

  &-text {
    font-size: 4rem;
  }
}
